ion-content {
  background-color: #9c779f;
  padding: 20px;
}

ion-list {
  margin-bottom: 20px;
}

ion-item {
  --highlight-color-focused: #c5cae9; /* Cambia el color de resaltado del input cuando está enfocado */
}

ion-button {
  --background: #264eb1;
  --color: #ffffff;
  margin-top: 20px;
}
