title{
  text-align: center;
  font-size: 30px;
  font-family: system-ui;
  font-style: unset;
  color: unset;
}
.contenedor {
  position: relative;
  height: 200px; /* Ajusta la altura según tus necesidades */
}

.contenedor img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
