
/* Estilos generales para ion-thumbnail */
ion-thumbnail {
  /* Estilos generales aquí */
  width: 200px;
  height: 100px;
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
  ion-thumbnail {
    /* Estilos específicos para dispositivos móviles aquí */
    width: 80px;
    height: 80px;
  }
}


.images {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}



.images img.active {
  opacity: 1;
}

/* Estilos específicos para iPhone 4 */
@media only screen and (width: 320px) and (height: 480px) {
  .images {
    /* Ajusta el estilo para el contenedor de imágenes en iPhone 4 */
    /* Por ejemplo, puedes cambiar el espaciado, los márgenes, etc. */
    height: 200px
  }
}

/* Estilos específicos para nokia n9 */
@media only screen and (width: 480px) and (height: 854px) {
  .images {
    /* Ajusta el estilo para el contenedor de imágenes en iPhone 4 */
    /* Por ejemplo, puedes cambiar el espaciado, los márgenes, etc. */
    height: 355px;
  }
}

/* Estilos específicos para nokia n9 */
@media only screen and (width: 280px) and (height: 653px) {
  .images {
    /* Ajusta el estilo para el contenedor de imágenes en iPhone 4 */
    /* Por ejemplo, puedes cambiar el espaciado, los márgenes, etc. */
    height: 250px;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: scale(1.1);
  }
  40% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.images img:nth-child(1) {
  animation: slider 12s infinite;
}

.images img:nth-child(2) {
  animation: slider 12s infinite;
  animation-delay: 4s;
}

.images img:nth-child(3) {
  animation: slider 12s infinite;
  animation-delay: 8s;
}

