
<div class="landing-container">
  <h1>Bienvenido a HappyParking </h1>
  <p>¡Descubre nuestras nuestras mejores ofertas!</p>
  <img src="../../assets/slide/cochera2.jpg" alt="Imagen 1">

<!--  <ion-slides>-->
<!--    <ion-slide>-->
<!--      <img src="../../assets/slide/cochera2.jpg" alt="Imagen 1">-->
<!--    </ion-slide>-->
<!--    <ion-slide>-->
<!--      <img src="../../assets/slide/cochera3.jpg" alt="Imagen 2">-->
<!--    </ion-slide>-->
<!--    &lt;!&ndash; Agrega más ion-slides según la cantidad de imágenes que desees mostrar &ndash;&gt;-->
<!--  </ion-slides>-->
  <ion-button expand="full" (click)="login()">Ingresar</ion-button>
  <ion-button expand="full" (click)="register()">Registrar</ion-button>

</div>
