
<div class="landing-container">
  <div>
    <h1>Bienvenido</h1>
  </div>
  <div>
    <p>¡Descubre nuestras nuestras mejores ofertas!</p>
  </div>
  <div class="images">
    <img src="../../assets/slide/cochera2.jpg" alt="Imagen 1">
    <img src="../../assets/slide/cochera3.jpg" alt="Imagen 1">
    <img src="../../assets/slide/cochera4.jpg" alt="Imagen 1">
    <img src="../../assets/slide/cochera5.jpg" alt="Imagen 1">

  </div>
  <div>
    <app-button [textoBoton]="'Ingresar'" (botonClickeado)="login()"></app-button>
    <app-button [textoBoton]="'Registrar'" (botonClickeado)="register()"></app-button>

  </div>


</div>
