ion-header {
  background-color: #a5b0fe;
  display: flex;
  justify-content: center;
}

ion-toolbar {
  background-color: #a5b0fe;
}

ion-title {
  justify-content: center;
  display: flex;
  text-align: center;
  color: #111113;

}
